@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-darkBlue-900 text-white font-sans;
  }
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }
  
  .preserve-3d {
    transform-style: preserve-3d;
  }
  
  .backface-hidden {
    backface-visibility: hidden;
  }
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
  
  .animate-drip {
    animation: drip 3s infinite;
  }
  
  .animate-float {
    animation: float 6s ease-in-out infinite;
  }
  
  .animate-float-delay {
    animation: float 7s ease-in-out 0.5s infinite;
  }
  
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  @keyframes drip {
    0% {
      height: 0;
      top: 32px;
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    100% {
      height: 64px;
      top: 32px;
      opacity: 1;
    }
  }
}